{block title}Školení{/block}
{block content}

<div class="container">
    <h1>Vítejte na školení OpenStreetMap!</h1>
    <p><i>Tato stránka slouží k pouze pro účely školení.</i>

    <div class="alert alert-success">Zapište sem své jméno, nebo libovolnou přezdívku (účet na OpenStreetMap vytvoříte později).</div>

    {control loginForm}

</div>